* text=auto
*.c text eol=lf
#*.cpp text eol=lf
*.cs text eol=lf
#*.h text eol=lf
*.java text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.php text eol=lf
*.py text eol=lf
*.rb text eol=lf
*.sh text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
thirdparty/libdeflate-1.18/lib/unaligned.h text eol=lf

